body {
    font-family: "PingFangSC-Regular", "sans-serif", "STHeitiSC-Light", "微软雅黑", "Microsoft YaHei";
    color: #333;
    font-size: 14px;
    line-height: 22px;
}
a[title="站长统计"]{
    display: none;
}
h2,
h3 {
    font-family: open sans, sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    font-size: 30px;
}

hr {
    width: 70px;
    border-bottom: 2px solid #bcad8d;
    margin-top: 0;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

.dowebok {
    width: 80%;
}

.container {
    height: 100%;
    padding-top: 50px;
}

.section {}

.section1 {
    height: 100%;
    background-image: -moz-radial-gradient(ellipse farthest-corner at center top, #000d4d 0%, #000105 100%);
    background-image: -webkit-radial-gradient(ellipse farthest-corner at center top, #000d4d 0%, #000105 100%);
    background-image: radial-gradient(ellipse farthest-corner at center top, #000d4d 0%, #000105 100%);
    cursor: move;
}

.btbicon {
    width: 100%;
    height: 100%;
    cursor: default;
    overflow: hidden;
}

.btbicon img {
    width: 45%;
    position: relative;
    top: 45%;
    left: 27.5%;
    transform: translateY(-50%);
    margin: 0 auto;
    z-index: 15;
}

.btbicon canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.section3 {
    background: url(http://btb-index.oss-cn-hangzhou.aliyuncs.com/bg-3.jpg);
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.section4 img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
}

.section4 .imgsMiddle {
    height: 100%;
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.header-button {
    float: right;
    padding: 45px;
}

.download {
    width: 230px;
    line-height: 40px;
    margin-right: 36px;
    border-radius: 32px;
    font-size: 24px;
    color: black;
    background-color: #d0c3a6;
    position: absolute;
    right: 240px;
    top: 50px;
    z-index: 10;
}

.aaa {
    text-decoration: none;
    color: black;
}

.download-icon {
    margin-top: -5px;
}

/* .btn-group {
    position: absolute;
    right: 50px;
    top: 50px;
    z-index: 10;
} */

/* .selectBtn {
    width: 200px;
    line-height: 40px;
    font-size: 24px;
    background-color: #616974;
    color: #fff;
    border-radius: 32px !important;
    border: 1px solid #e0d5ba;
} */

.selectBtn:hover {
    color: #fff;
}

.font-img {
    margin-top: 10%;
}

.font-img img {
    margin: 0 auto;
    display: inherit;
}

.home-card {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.home-card img {
    display: block;
    margin: 0 auto;
}

.home-card .card {
    margin-top: 50px;
    border: 4px solid #cdc1a3;
}

.home-card .card p {
    text-align: left;
}

.home-card .card p:first-child {
    font-size: 31px;
    line-height: 35px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.home-card .card p:last-child {
    font-size: 22px;
    line-height: 40px;
    width: 70%;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 100px;
}

.col-md-4 {
    padding: 50px;
}

.down-btn {
    position: fixed;
    bottom: 20px;
    left: 49%;
    z-index: 10;
}

.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.section {
    width: 100%;
    height: 100%;
}

#dowebok {
    height: 100%;
}

.sectionTitle {
    text-align: center;
    width: 100%;
}

.title {
    text-align: center;
    color: #bcad8d;
}

.section {
    min-width: 1024px;
}

.row {
    margin-top: 100px;
}

.row .mds {
    padding: 40px;
}

.section2 {
    background: #f1f2f8;
}

.section2 .row .card {
    height: 450px;
    border: 4px solid #cdc1a3;
    text-align: center;
    background-color: #fff;
}

.section2 .row .card img {
    margin-top: -60px;
    max-width: 120px;
}

.section2 .row .card p {
    font-size: 22px;
    line-height: 44px;
    color: black;
    margin: 50px 0;
    min-height: 50px;
}

.section2 .row .card span {
    display: inline-block;
    max-width: 85%;
    font-size: 16px;
    line-height: 32px;
    text-align: left;
    color: #7d7d7d;
}

.section2 .row .last p {
    text-align: left;
    width: 85%;
    display: inline-block;
}

.section2 .row .active {
    padding: 5px 20px;
}

.section2 .row .active .card {
    height: 485px;
    background: #f3f0ea;
    border: 4px solid #e0d5ba;
    box-shadow: 0px 0px 10px #cdc1a3;
}

.section3 .row {
    min-width: 1024px;
    margin: 0 auto;
    padding-top: 30px;
}

.section3 .row .imgs {
    text-align: center;
}

.section3 .row .imgs img {
    background-color: #fff;
    padding: 25px;
    width: 100px;
}

.section3 .row .imgs p {
    color: #b0b7c7;
    font-size: 16px;
    line-height: 20px;
    padding: 30px 0;
}

.section3 .row .active {
    margin-top: -27px;
}

.section3 .row .active img {
    background: #ecd49c !important;
    width: 120px;
}

.section3 .row .active div {
    width: 140px;
    border: 5px solid #d7ccaf;
    border-radius: 50%;
    padding: 5px;
    margin: 0 auto;
}

/* .section3 .row .last p {
    font-size: 18px;
    line-height: 20px;
    padding: 40px 0;
    margin-top: -8px;
} */

.section3 .row .active p {
    font-size: 18px;
    color: #fff;
}

.section3 .text {
    margin: 0 auto;
    width: 80%;
    height: 200px;
    display: table;
}

.section3 .text p {
    font-size: 22px;
    text-align: center;
    color: #fff;
    line-height: 50px;
    padding: 25px;
    background: #64779b;
    display: table-cell;
}

.section3 .forward {
    margin-top: 80px;
    width: 100%;
    text-align: center;
}

.section3 .forward p:first-child {
    font-size: 30px;
    color: #fff;
}

.section3 .forward p:last-child {
    line-height: 80px;
    border-radius: 40px;
    width: 500px;
    margin: 0 auto;
    font-size: 30px;
    color: #fff;
    background: -webkit-linear-gradient(#e2d5b5, #ebd298);
    margin-top: 50px;
}

#menu {
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    list-style-type: none;
    z-index: 70;
    background-color: rgb(red, green, blue,0);
    padding-left: 50px;
}

.bannerBackground {
    animation: bannerToggle 0.3s forwards ;
}

#menu li {
    float: left;
    margin: 0 10px 0 0;
    font-size: 14px;
}

#menu a {
    float: left;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

#menu .active a {
    color: #bcad8d;
}

#menu .li-btn {
    color: #000;
    line-height: 32px;
    float: right;
    border-radius: 18px;
    margin: 10px 0;
    margin-right: 30px;
    padding: 0 20px;
    background: #d0c3a6;
    cursor: pointer;
}

#menu .li-btn2 {
    background: #3e5173;
    color: #fff;
}

/* 
#menu .li-btn:hover {
    background: #3e5173;
    color: #fff;
} */

.dropdown-menu {
    width: 100%;
    font-size: 24px;
    text-align: center;
    min-width: 117px;
    margin-left: -20px;
    background: #3e5173;
}

#menu .dropdown-menu:hover {
    background: #3e5173;
}

#menu .dropdown-menu li {
    width: 100%;
}

#menu .dropdown-menu li a {
    color: #fff;
    width: 100%;
    padding: 5px;
    text-align: center;
}

#menu .dropdown-menu li a:hover {
    color: #fff;
    background: #3e5173;
}

.section5 .tumbs {
    margin-top: 110px;
}

.section5 .tumbs .thumb {
    width: 100%;
    margin: 0 auto;
    border: 4px solid #c9bc9d;
}

.section5 .tumbs .col-md-4 {
    padding: 0 5%;
}

.section5 .tumbs img {
    width: 100%;
    height: auto;
}

.section5 .tumbs h3 {
    text-align: center;
    font-size: 22px;
    line-height: 50px;
    margin: 0;
}

.section5 .tumbs p {
    text-align: left;
    font-size: 16px;
    line-height: 28px;
}

.section5 .tumbs .caption {
    background-color: #455c87;
    color: #fff;
    padding: 10px;
}

.section6 .groups {
    text-align: center;
    margin-top: 30px;
}

.section6 .groups img {
    width: 50%;
}

.section6 .groups .col-md-3 .cnName {
    color: #000;
    font-size: 25px;
    line-height: 50px;
}

.section6 .groups .col-md-3 .enName {
    color: #929292;
    font-size: 15px;
}

.section6 .groups .col-md-3 {
    margin-top: 20px;
}

.section7 .main .row {
    width: 100%;
    margin: 0 auto;
}

.section7 .main .row img {
    width: 100%;
    height: auto;
}

.section7 .main .col-md-2 {
    padding: 0;
}

.section7 {
    height: 100%;
}

.section7 .main {
    height: 70%;
    width: 100%;
}

.section7 .footer {
    height: 100%;
    width: 100%;
    background: #353535;
    position: absolute;
    left: 0;
}

.section7 .footer .icons {
    height: 50px;
    width: 60%;
    margin: 20px auto;
    line-height: 100%;
}

.footer .icons .rows {
    margin-top: 0;
    text-align: center;
    padding-top: 20px;
}

.footer .rows div {
    width: 20%;
    float: left;
}

.section7 .icons img {
    margin-top: 10px;
    width: 50px;
    opacity: 0.7;
}
.section7 .main .col-md-2 {
    border: 1px solid #eee;
    padding: 0 20px;
}
@keyframes bannerToggle {
    from {
        background-color: rgb(255, 255, 255,0);
    }
    to {
        background: #353535;
    }
}